

#header {
	display: flex;
	column-gap: 10px;
	
	img {
		margin: auto 0;
	}
	nav.navigation {
		margin: auto;
	}
	.button-quote {
		margin: auto 0;
	}
}
#footer {
	padding: var(--nav-padding);
	background-image: linear-gradient(60deg, #2d3d5c, #64ba91);
	color: white;
	margin-top: auto;
	.container-footer {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 20px;
		row-gap: 20px;
		margin: 0;
		max-width: 1024px;
		margin: auto;
		@media (max-width: 540px) {
			grid-template-columns: 1fr;
			> * {
				grid-column: 1 !important;
				grid-row: auto !important;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
	nav.navigation a {
		color: white;
	}
	.container-socials {
		i {
			color: white;
		}
	}
	nav.navigation {
		margin-left: 0;
		
		grid-column: 1;
		grid-row: 1;
		display: flex;
		flex-wrap: wrap;
		row-gap: 10px;
		column-gap: 20px;
		margin: 0;
		justify-content: start;
		> * {
			flex-basis: 34%;
			/* flex: 1; */
		}
	}
	.button-quote {
		grid-column: 2;
		grid-row: 1;
		margin-left: auto;
	}
	.container-socials {
		margin-top: auto;
		grid-column: 1;
		grid-row: 2;
		display: flex;
		column-gap: 10px;
	}
	.container-company-info {
		grid-column: 2;
		grid-row: 2;
		display: flex;
		flex-direction: column;
		row-gap: 20px;
		margin-left: auto;
		@media (max-width: 540px) {
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}
	}
}
.container-dropdown {
	position: relative;
	.nested-dropdown {
		position: relative;
	}
	svg:hover {
		cursor: pointer;
	}
	.dropdown-menu {
		position: absolute;
		top: 100%;
		left: 0;
		font-size: 16px;
		background-color: white;
		box-shadow: 0 0 5px rgba(0, 0, 0, .2);
		padding: 0px;
		display: flex;
		flex-direction: column;
		row-gap: 0px;
		z-index: 10;
		border-radius: 5px;
		&.nested {
			left: 100%;
			top: 0;
		}
		.nested-dropdown {
			display: flex;
    		flex-direction: column;
		}
		a, button {
			background: none;
			padding: 10px;
			color: black;
			text-decoration: none;
			border: none;
			font-family: 'Roboto', sans-serif;
			font-size: 16px;
			text-align: left;
			&:hover {
				&:first-of-type:not(:last-of-type) {
					border-top-left-radius: 5px;
					border-top-right-radius: 5px;
				}
				&:last-of-type:not(:first-of-type) {
					border-bottom-left-radius: 5px;
					border-bottom-right-radius: 5px;
				}
				text-decoration: none;
				cursor: pointer;
				background-color: rgba(0, 0, 0, .3);
			}
		}
	}
}
.container-info {
	background-color: white;
	padding: var(--nav-padding);
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	.section-info {
		max-width: 1024px;
		margin: auto;
		width: calc(100% - (var(--nav-padding) * 2));
	}
	.button-quote {
		margin: 0 auto;
	}
	.container-text-img {
		display: flex;
		column-gap: 20px;
		p {
			flex: 1;
		}
		img {
			aspect-ratio: 5 / 3;
			width: 25%;
			min-width: 150px;
			max-width: 250px;
		}
	}
}

.container-imgs {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr) minmax(150px, 1fr));
	@media (max-width: 460px) {
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	}
	img {
		aspect-ratio: 5 / 3;
		width: 100%;
		min-width: 150px;
		max-width: 250px;
		margin: auto;
	}
}

.container-faq {
	flex: 1;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	padding: 20px 60px;
	max-width: 1024px;
	margin: auto;
	width: calc(100% - 120px);
	h1 {
		margin: 0 auto;
	}
}

.container-about {
	padding: 20px 60px;
	display: grid;
	grid-template-columns: 1fr auto;
	column-gap: 20px;
	max-width: 1024px;
	margin: auto;
	width: calc(100% - 120px);
	h1, h2 {
		margin: auto;
		grid-column: 1 / span 2;
	}
	p {
		grid-column: 1 / span 2;
	}
	p:has(+ img) {
		grid-column: 1 / span 1;
	}
	p + img {
		grid-column: 2 / span 1;
		@media (max-width: 600px) {
			grid-column: 1 / span 2;
			margin: auto;
		}
	}
	.team-header {
		margin-top: 60px;
		margin-bottom: 20px;
	}
}

.container-quote {
	padding: 20px 60px;
	display: flex;
	flex-direction: column;
	max-width: 1024px;
	margin: auto;
	width: calc(100% - 120px);
	h1 {
		margin: 0 auto;
	}
}

.container-products {
	padding: 20px 60px;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	column-gap: 20px;
	max-width: 1024px;
	margin: auto;
	width: calc(100% - 120px);
	h1, h2, h3, p {
		margin: 0;
		padding: 0;
	}
	h1 {
		margin: 0 auto;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			display: flex;
			column-gap: 10px;
			> * {
				margin: auto 0;
			}
		}
	}
	img {
		height: 100px;
		width: auto;
		margin-right: auto;
		/* width: clamp(100px, 40vw, 200px); */
	}
}


.container-gallery {
	padding: 20px 0px;
	max-width: 1024px;
	margin: auto;
	width: 100%;

	h1 {
		width: 100% !important;
	}
	.grid-sizer {
		width: 50%;
	}
	&:after {
		content: '';
		display: block;
		clear: both;
	}
	.img-gallery {
		padding-bottom: 0px;
		width: 50%;
		position: relative;
		min-width: 200px;
		.img-container {
			padding: 15px;
		}
	}
	.img-gallery img {
		width: 100%;
		display: block;
	}
	h1 {
		grid-column: 1 / span 2;
		text-align: center;
	}
}
@media (max-width: 600px) {
	.container-gallery {
		.grid-sizer {
			width: 100%;
		}
		.img-gallery {
			width: 100%;
		}
	}
}
		
.container-lighting {
	padding: 20px 60px;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	column-gap: 20px;
	max-width: 1024px;
	margin: auto;
	width: calc(100% - 120px);
	h1, h2, h3, p {
		margin: 0;
		padding: 0;
	}
	h1 {
		margin: 0 auto;
		&#bg-img {
			margin: 0;
			height: 200px;
			width: 100%;
			position: relative;
			span {
				width: 100%;
				text-align: center;
				background-color: rgba(255, 255, 255, .6);
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				position: absolute;
				padding: 10px 0;
				
			}
		}
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			padding-bottom: 20px;
		}
	}
}
