form.contact {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
	@media (max-width: 900px) {
		grid-template-columns: 1fr 1fr;
	}
	@media (max-width: 650px) {
		grid-template-columns: 1fr;
	}
	h2, p {
		grid-column: 1 / -1;
		margin: 0;
	}
	> * {
		min-width: 0;
	}
	#seriveTypeResidential, #seriveTypeCommerical, #seriveTypeOther {
		grid-column: 1 / -1;
	}
	#servicesContainer {
		grid-column: 1 / -1;
		display: flex;
		column-gap: 10px;
		label {
			display: none;
		}
		> div {
			flex: 1 1 0;
		}
		img {
			aspect-ratio: 1/1;
			flex: 1 1 0;
			max-width: 100%;
  			object-fit: cover;
		}
	}
	#additionalDetail {
		grid-column: 1 / -1;
		height: 100px;
	}
	button[type="submit"] {
		border-radius: 5px;
		background-color: gray;
		height: min-content;
		padding: 10px 40px;
		color: white;
		text-decoration: none;
		width: max-content;
		border: 0;
	}
}