img[alt="Team Photo"] {
	aspect-ratio: 1.5 / 1;
	height: auto;
	width: clamp(200px, 40vw, 400px);
}

.img-gallery img {
	object-fit: cover;
	height: auto;
	/* width: clamp(200px, 40vw, 400px); */
	&:hover {
		cursor: pointer;
	}
}
