.list-faq {
	list-style: none;
	margin: 0;
	padding: 0;
}
.list-img-text {
	display: grid;
	grid-template-columns: repeat(auto-fit, 180px);
	column-gap: 20px;
	row-gap: 20px;
	justify-content: space-around;
	padding: 0;
	li {
		margin-bottom: auto;
		display: flex;
		flex-direction: column;
		row-gap: 20px;
		img {
			height: 100px;
			width: auto;
			margin: auto;
		}
	}
	&.bulb-types {
		display: flex;
		column-gap: 20px;
		@media (max-width: 600px) {
			flex-direction: column;
			row-gap: 20px;
		}
	}
}

.list-navigation {
	background-color: transparent;
	display: flex;
	margin: auto;
	flex-wrap: wrap;
	justify-content: left;
	&.right-aligned {
		margin-right: 0;
	}
	a, span {
		padding: 10px;
		display: inline-block;
		color: white;
		text-decoration: none;
		&:hover {
			cursor: pointer;
		}
	}
}