@import './header.css';
@import './home-view.css';
@import './buttons.css';
@import './container.css';
@import './lists.css';
@import './form.css';
@import './input.css';
@import './images.css';

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
:root {
  --nav-padding: min(40px, max(3vw, 20px));
  --nav-image-size: 100px;
}

a, button {
  &:hover {
		cursor: pointer;
	}
}

.modal-backdrop {
  z-index: 10;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);

  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
  .modal-content {
    background: white;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;

    max-width: calc(100vw - 40px);
    max-height: calc(100vh - 40px);
    img {
      max-width: 100%;
      max-height: calc(100vh - 40px);
      width: auto;
      height: auto;
      border-radius: 10px;
      display: block;
      object-fit: contain;
    }
  }
}

